# Crimson Bot Service Environment Variables
BOT_PORT=5000
MODEL=meta/llama-3.2-90b-vision-instruct
ACTIVE_MODEL=meta/llama-3.2-90b-vision-instruct
NVIDIA_API_KEY=
GROQ_API_KEY=
HF_API_KEY=
CREATOR_PHONE=256742184690
